@import "tailwindcss";
@import "tailwindcss/utilities";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none;
  }
}

:root{
  --main-color : #CCCCCC;
  --secondary-color: #DDDDDD;
  --black-color: black;
  --w-color: #fff;
  --o-color: #DC9908;
  --r-color: red;
  --b-color: #2563eb;
  --b-color-hover: #1d4ed8;
  --g-color: #6C6C6C;  
  --g-color-opacity: #6c6c6c1A;
  --g-color-opacity-v2: #6c6c6c1f;
  --green-color: #54A131;
  --green-color-hover: #58cb22;
  --text-menu-color: #1D1B20;
  --menu-hover: #A9D196;
  --sidebar-height: calc(100vh - 72px);
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}
@theme{
  --spacing: 4px;
}

@font-face {
  font-family: 'cherrybomb';
  src: url('/fonts/CherryBombOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

